<ng-container [ngSwitch]="activeTab | async">
  <ng-container *ngSwitchCase="'selfies'">
    <app-profile-selfies></app-profile-selfies>
  </ng-container>
  <ng-container *ngSwitchCase="'glories'">
    <app-profile-glories></app-profile-glories>
  </ng-container>
  <ng-container *ngSwitchCase="'favourites'">
    <app-profile-favourites></app-profile-favourites>
  </ng-container>
  <ng-container *ngSwitchCase="'followers'">
    <app-profile-followers></app-profile-followers>
  </ng-container>
  <ng-container *ngSwitchCase="'followings'">
    <app-profile-followings></app-profile-followings>
  </ng-container>
</ng-container>
