<p-toast [style]="{
    margin: '1rem',
    minWidth: '200px',
    maxWidth: '450px'
  }">
</p-toast>

<div class="overlay">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Reset password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field class="w-100">
          <input
            type='email'
            matInput
            placeholder="Email"
            formControlName="email"
          >
          <mat-error *ngIf="resetPasswordForm.get('email').hasError('email') && !resetPasswordForm.get('email').hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button
          class="submit-btn"
          color="primary"
          mat-raised-button
          [disabled]="resetPasswordForm.invalid"
        >
          Reset password
        </button>
        <button
          (click)="closeModal()"
          mat-raised-button
        >
          Close
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

