.mat-toolbar-single-row {
  height: unset;
}

.toolbar {
  background-color: #212121;
  color: #fff;
  font-family: Robotoregular, sans-serif;
  font-size: 16px;
  padding: 19px 0;
  text-transform: uppercase;
}

.toolbar-inner {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}

.logo {
  margin-right: 40px;
  max-width: 100%;
}

.toolbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.toolbar-nav li {
  margin-left: 40px;
}

.nav-active-link {
  color: #e12ebc!important;
}

.toolbar-nav li:hover{
  color: #ccc;
}

.toolbar-nav li a {
  color: inherit;
  transition: 0.2s ease-out;
}

.profile-controls {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.profile-controls-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.profile-controls-list li {
  margin-left: 40px;
}

.profile-controls-list li:hover{
  color: #ccc;
}

.profile-controls-list li a {
  color: inherit;
  transition: 0.2s ease-out;
}

.user-avatar {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.toolbar-notifications-list {
  min-height: 150px;
  width: 420px;
  max-height: 600px;
}

.fas.fa-bell {
  cursor: pointer;
}
