<div class="login-form-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="loginForm"
      >
        <mat-form-field class="w-100">
          <input
            type="email"
            formControlName="email"
            matInput
            placeholder="Email"
          >
          <mat-error
            *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error
            *ngIf="loginForm.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
          <input
            type="password"
            formControlName="password"
            matInput
            placeholder="Password"
          >
          <mat-error
            *ngIf="loginForm.get('password').hasError('minlength') && !loginForm.get('password').hasError('required')">
            Please enter a valid password
          </mat-error>
          <mat-error
            *ngIf="loginForm.get('password').hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button
          class="submit-btn"
          color="primary"
          mat-raised-button
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
