<mat-card class="news-item-card w-100">
  <mat-card-header class="news-item-info w-100">
    <div class="news-item-user-info">
      <div class="user-avatar" mat-card-avatar>
        <img
          class="user-avatar-image"
          [src]="newsItem?.owner.avatar"
          alt="user avatar"
        >
      </div>
      <div class="author-info">
        <span class="author-name">
          {{ newsItem?.owner.full_name }}
        </span>
        <span class="author-country">
          {{ newsItem?.owner.country }}
        </span>
      </div>
    </div>
    <div class="news-item-upload-info">
      <span class="upload-count">Uploaded {{ newsItem?.pictures.length }}
        photos</span>
      <span class="upload-date">{{ timeSinceUpload }} ago</span>
    </div>
    <mat-card-actions class="news-item-actions">
      <ng-container *ngIf="!isCurrentUser">
        <button
          mat-button
          class="news-item-button"
          [ngClass]="{ 'news-item-button-gradient': !isFollowed }"
          (click)="onBtnClick()"
        >
        <span class="news-item-button-text">
          {{ isFollowed ? 'following' : 'follow' }}
        </span>
        </button>
      </ng-container>
    </mat-card-actions>
  </mat-card-header>

  <mat-card-content class="news-item-content">
    <div class="news-item-image-container">
      <img
        [appImgLoader]="newsItem.pictures[0].url"
        class="news-item-image"
        alt="news image"
      ></div>
  </mat-card-content>
</mat-card>
