/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Default classes */
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-35 {
  width: 35%;
}

.mx-auto {
  margin: 0 auto;
}
